langchain-openai
langchain
python-dotenv
langchain_community
langchain_core
streamlit
langchain-groq
faiss-cpu
pypdf
langchain-chroma
langchain-huggingface
chromadb
arxiv
wikipedia
ipykernel
duckduckgo_search
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube-transcript-api
unstructured
pytube
numexpr
langchain_huggingface
huggingface_hub
gradio